{% extends "reviews/base.html" %}
    {% block title %}ur review{% endblock title %}
    {% block content %}
    <form method='POST'>
        {% csrf_token %}
        {% comment %} <label for='name'>Your name</label>
        <input id='username' name='username' type='text'> {% endcomment %}
        <div class="form-control {% if form.user_name.errors %}errors{% endif %}">
        {% comment %} {{ form.user_name.label_tag }}
        {{ form.user_name }}
        {{ form.user_name.errors }} {% endcomment %}
        {{ form }}
        </div>
        <button type='submit'>send</button>
    </form>
    {% endblock content %}
